{% extends 'app.html' %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-3 mt-5 mb-5">
            <a href="/">
                <img src="../static/images/pokemon.svg" alt="PokemonLogo">
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <form action="/" method="get" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input type="text" name="search_string" value="{{ search_string }}" class="form-control"
                        placeholder="Enter the name of the Pokemon to search...">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        {% if pokemons == [] %}
            <div class="row col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="d-flex justify-content-center mt-3 mb-3">Not found</h2>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row row-cols-5 col-12">
                {% for poke in pokemons %}
                    <div class="card">
                        <div class="card-img-top">
                            <img src="{{poke.image}}" alt="{{poke.name}}" height="100px"/>
                        </div>
                        
                        <div class="card-body">
                            <h5 class="card-title">{{poke.name}}</h5>
                            <p class="card-text">hp: {{poke.hp}}<br/>attack: {{poke.attack}}</p>
                            <form class="col-12" action="{{url_for('battle')}}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="select_poke_name" value="{{poke.name}}">
                                <button class="col-12 btn btn-secondary" type="submit">To battle</button>
                            </form>
                            <a href="{{url_for('poke_page', poke_name=poke.name)}}" class="col-12 mt-1 mb-2 btn btn-outline-secondary">More about poke</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <nav class="mb-5">
        {% if end > 1 %}
            <ul class="pagination justify-content-between mt-3">
                {% if current > 1 %}
                    <li class="page-item col-1">
                        <a class="page-link d-flex justify-content-center text-dark" href="/?page={{current - 1}}&search_string={{search_string}}">Back</a>
                    </li>
                {% else %}
                    <div class="page-item d-flex justify-content-center align-items-center border col-1 text-secondary rounded-start">Back</div>
                {% endif %}
                
                <li class="page-item d-flex justify-content-center align-items-center col-10 border">Page {{current}} in {{end}}</li>
                
                {% if end > current %}
                    <li class="page-item col-1">
                        <a class="page-link d-flex justify-content-center text-dark" href="/?page={{current + 1}}&search_string={{search_string}}">Next</a>
                    </li>
                {% else %}
                    <div class="page-item d-flex justify-content-center align-items-center border col-1 text-secondary rounded-end">Next</div>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}