{% extends 'app.html' %}
{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block content %}
{{ super() }}

<div class="container d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh;">
    <div class="row justify-content-center col-12">
        <div class="col-3 mt-3 mb-4">
            <a href="/"><img src="../static/images/pokemon.svg" alt="PokemonLogo"></a>
        </div>
    </div>

    <div class="row justify-content-center col-12">
        <div class="col-6 d-flex justify-content-center border rounded">
            <div class="col-11 d-flex justify-content-center flex-column">
                <h3 class="text-center mt-4 mb-3">Login</h3>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "error" %}
                                <div class="alert alert-danger" role="alert">
                                    {{message}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form action="" method="post">
                    {{ form.csrf_token }}
                    <span>
                        <p class="mb-2">{{ form.email.label(class="text-dark") }}</p>
                        {{ form.email(class="form-control") }}

                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span class="badge text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                        
                        <p class="mb-2 mt-3">{{ form.password.label(class="text-dark") }}</p>
                        {{ form.password(class="form-control") }}

                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <span class="badge text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </span>
                    <span class="mb-1 mt-1 col-12 d-flex justify-content-center">
                        <a href="{{url_for('auth.forgot_password')}}" class="text-secondary">Forgot password</a>
                    </span>
                    <span class="mt-4 mb-3 col-12 d-flex justify-content-center">{{ form.submit(class="btn btn-dark col-12") }}</span> 
                    <span class="mb-4 col-12 d-flex justify-content-center">
                        <a href="{{url_for('auth.sign_up')}}" class="text-dark">Don't have an account yet? Sign up!</a>
                    </span>      
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}